<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
	<router id='admin'>
		<route frontName='dfe-dynamics365' id='Dfe_Dynamics365'>
			<module before='Magento_Backend' name='Dfe_Dynamics365'/>
		</route>
	</router>
</config>