<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
<!--
2016-11-19
Вкладка (section) отображается в административном интерфейсе
только при наличии внутри неё хотя бы одной группы настроек (group).
Поэтому если, например, администратор установил пакет «mage2pro/core»
только для платёжного модуля (вкладка df_payment),
то, например, вкладки df_sso («Single sign-on») у него не будет.
-->
		<section
			id='df_dynamics365'
            showInDefault='1' showInStore='1' showInWebsite='1'
            translate='label'
		>
			<tab>_df</tab>
			<label>Dynamics 365</label>
			<class>separator-top</class>
			<!-- 2015-10-05 https://mage2.pro/t/114 -->
			<resource>Dfe_Dynamics365::config</resource>
			<group
				id='general'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1'
				translate='label'
			>
				<label>General</label>
				<dfExtension>Dfe_Dynamics365</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/dynamics365' target='_blank'>Dynamics 365</a>» extension?]]></comment>
				</field>
				<field
					id='url'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>The root URL of your Dynamics 365 frontend</label>
					<comment><![CDATA[The value should like https://<b>&lt;your organization name&gt;</b>.crm.dynamics.com for a <a href='https://www.microsoft.com/en-US/Dynamics/crm-customer-center/dynamics-365-online-vs-on-premises-features-faq.aspx' target='_blank' title='Online vs on-premises features FAQ'>SaaS</a> (cloud, «online») instance, and is a custom URL for a <a href='https://technet.microsoft.com/en-us/library/hh699811.aspx' target='_blank' title='Deploy and administer Dynamics 365 (on-premises)'>self-hosted</a> («on-premises») instance.<br/><a href='https://mage2.pro/t/3737' title='See the manual how to find it out' target='_blank'>Where is my Dynamics 365 frontend located?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<group
					id='oauth'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
				>
					<label>OAuth 2.0</label>
					<comment><![CDATA[Your Dynamics 365 instance should authenticate your Magento instance by the <a href='https://oauth.net/2/' target='_blank'>OAuth 2.0</a> protocol.]]></comment>
					<field
						id='clientId'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='text'
					>
						<label>Client Identifier</label>
						<comment><![CDATA[An OAuth 2.0 «Client Identifier», as defined in the <a href='https://tools.ietf.org/html/rfc6749#section-2.2' title='RFC 6749 specification, Section 2.2: «Client Identifier»' target='_blank'>section 2.2</a> of the RFC 6749 specification.
<br/>Microsoft Azure portal names this entity as «<b>Application ID</b>».
<br/><a href='https://mage2.pro/t/3825' title='How to grant Magento 2 the permissions to access the Dynamics 365 web API?' target='_blank'>How to get it?</a>]]></comment>
						<depends>
							<field id='enable'>1</field>
						</depends>
						<validate>required-entry</validate>
					</field>
					<field
						id='clientPassword'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='obscure'
					>
						<label>Client Password</label>
						<comment><![CDATA[The OAuth 2.0 «Client Password» for the «Client Identifier» above, as defined in the <a href='https://tools.ietf.org/html/rfc6749#section-2.3.1' title='RFC 6749 specification, Section 2.3.1: «Client Password»' target='_blank'>section 2.3.1</a> of the RFC 6749 specification.
<br/>Microsoft Azure portal names this entity as «<b>Key</b>».
<br/><a href='https://mage2.pro/t/3825' title='How to grant Magento 2 the permissions to access the Dynamics 365 web API?' target='_blank'>How to get it?</a>]]></comment>
						<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
						<depends>
							<field id='enable'>1</field>
						</depends>
						<validate>required-entry</validate>
					</field>
					<field
						dfWebhook_backend='true'
						dfWebhook_suffix='oauth'
						id='redirectionEndpoint'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='Df\Sso\FE\CustomerReturn'
					>
						<label>Redirection Endpoint</label>
						<comment><![CDATA[The OAuth 2.0 «Redirection Endpoint», as defined in the <a href='https://tools.ietf.org/html/rfc6749#section-3.1.2' title='RFC 6749 specification, Section 3.1.2: «Redirection Endpoint»' target='_blank'>section 3.1.2</a> of the RFC 6749 specification.
<br/>Microsoft Azure portal names this entity as «<b>Sign-On URL</b>».
<br/>Set it in your Microsoft Azure Active Directory <a href='https://mage2.pro/t/3825' title='How to grant Magento 2 the permissions to access the Dynamics 365 web API?' target='_blank'>app registration form</a> (Step 4).]]></comment>
						<depends><field id='enable'>1</field></depends>
					</field>
					<field
						id='on_premises'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<label>My Dynamics 365 instance is self-hosted («on-premises»)</label>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<depends><field id='enable'>1</field></depends>
					</field>
					<field
						id='url_token'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='5'
						translate='label'
						type='text'
					>
						<label>On-premises Token Endpoint</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/4151' title='See the manual how to find it out' target='_blank'>Where to get it?</a>]]></comment>
						<depends>
							<field id='enable'>1</field>
							<field id='on_premises'>1</field>
						</depends>
						<validate>required-entry</validate>
					</field>
					<field
						id='url_auth'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='6'
						translate='label'
						type='text'
					>
						<label>On-premises Authorization Endpoint</label>
						<comment><![CDATA[<a href='https://mage2.pro/t/4151' title='See the manual how to find it out' target='_blank'>Where to get it?</a>]]></comment>
						<depends>
							<field id='enable'>1</field>
							<field id='on_premises'>1</field>
						</depends>
						<validate>required-entry</validate>
					</field>
					<field
						id='authenticate'
						showInDefault='1' showInWebsite='1' showInStore='1'
						sortOrder='7'
						type='Dfe\Dynamics365\Button'
					>
<!-- 2017-06-29
«How to implement a dynamically generated comment for a backend configuration field?»
https://mage2.pro/t/4076 -->
						<comment model='Dfe\Dynamics365\Button'/>
						<depends><field id='enable'>1</field></depends>
					</field>
				</group>
			</group>
			<group
				id='products'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='2'
				translate='label'
			>
				<label>Products</label>
				<field
					id='priceList'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='select'
				>
					<label>Price List</label>
					<source_model>Dfe\Dynamics365\Source\PriceList</source_model>
					<comment><![CDATA[]]></comment>
					<depends>
						<field id='enable'>1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>